.info-header{
    text-align: center;
    color:aliceblue;
    padding: 50px;
    background: #000000;
    background: linear-gradient(201deg, rgba(2, 0, 36, 1) 15%, rgba(0, 0, 212, 1) 50%, rgba(2, 0, 36, 1) 85%);
    font-weight: 700;
    
}

.navbar-header{
    height: 50px;
    background-color: #181818;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-header a{
    margin: 0 45px;
    color: aliceblue;
    text-decoration: none;
    width: 100%;
}


.links:hover{
    
    background-color: rgba(0, 0, 212, 1)
}
